<h1> <%= @range %> search for <%= @word %> </h1>
<table class="table table-hover table-inverse">
  <% if @range == "User" %>
    <%= render 'users/index',users: @users %>
  <% else %>
 
    <tbody>
      <%= render 'books/index', books: @books%>
    </tbody>
  <% end %>
</table>